.form {
  height: 48px;
  margin-top: 24px;
  margin-bottom: 48px;
}
.form > * {
  margin-left: 4px;
  margin-right: 4px;
}
.select {
  height: 48px;
  padding: 0 12px;
  border: none;
  background-color: rgba(204, 204, 204, 0.95);
}
.select:focus {
  outline-style: solid;
  outline-color: rgba(0, 0, 0, 0.8);
  outline-width: 2px;
}
